<div class="tier-details">
  <div class="row">
    <div class="columns small-6 medium-8">Premium:</div>
    <div class="columns small-6 medium-4">{{stats.premium}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Deductible:</div>
    <div class="columns small-6 medium-4">{{stats.deductible}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Out of Pocket Max:</div>
    <div class="columns small-6 medium-4">{{stats.outOfPocket}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Preventive Care visit:</div>
    <div class="columns small-6 medium-4">{{stats.preventiveCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Primary Care Copay:</div>
    <div class="columns small-6 medium-4">{{stats.primaryCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Specialty Care Copay:</div>
    <div class="columns small-6 medium-4">{{stats.specialtyCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Copay/Coinsurance for ER:</div>
    <div class="columns small-6 medium-4">{{stats.copay}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Hospital Stay Coinsurance:</div>
    <div class="columns small-6 medium-4">{{stats.hospital}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Generic vs. brand name drugs:</div>
    <div class="columns small-6 medium-4">{{stats.genericDrugs}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Specialty drug coinsurance:</div>
    <div class="columns small-6 medium-4">{{stats.specialtyDrugs}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Lab/X-ray/Imaging coinsurance:</div>
    <div class="columns small-6 medium-4">{{stats.xray}}</div>
  </div>
</div>
<div class="row">
  <p>{{note}}</p>
</div>


