<div class="tier-details">
  <div class="row">
    <div class="columns small-6 medium-8">Premium:</div>
    <div class="columns small-6 medium-4">${{stats.premium}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Copay:</div>
    <div class="columns small-6 medium-4">${{stats.copay}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Deductible:</div>
    <div class="columns small-6 medium-4">${{stats.deductible}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Cost Sharing for Primary Care:</div>
    <div class="columns small-6 medium-4">${{stats.primaryCare}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Cost Sharing for ER:</div>
    <div class="columns small-6 medium-4">${{stats.er}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Cost Sharing for Prescription drugs:</div>
    <div class="columns small-6 medium-4">${{stats.prescriptions}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Maternity coverage:</div>
    <div class="columns small-6 medium-4">${{stats.maternity}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Medical Devices:</div>
    <div class="columns small-6 medium-4">${{stats.devices}}.00</div>
  </div>
</div>