<div class="tier-details">
  <div class="row">
    <div class="columns small-10">Premium:</div>
    <div class="columns small-2">${{stats.premium}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Copay:</div>
    <div class="columns small-2">${{stats.copay}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Deductible:</div>
    <div class="columns small-2">${{stats.deductible}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Cost Sharing for Primary Care:</div>
    <div class="columns small-2">${{stats.primaryCare}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Cost Sharing for ER:</div>
    <div class="columns small-2">${{stats.er}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Cost Sharing for Prescription drugs:</div>
    <div class="columns small-2">${{stats.prescriptions}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Maternity coverage:</div>
    <div class="columns small-2">${{stats.maternity}}.00</div>
  </div>
  <div class="row">
    <div class="columns small-10">Medical Devices:</div>
    <div class="columns small-2">${{stats.devices}}.00</div>
  </div>
</div>