
<h1>Premium</h1>

<div class="premium-container" 
     ng-repeat="(key, story) in pageData.stories" 
     id="premium-{{key}}">

  <div class="row">
    <div class="columns medium-6">
      <div class="story-text">{{story.text}}</div>
      <div ng-if="story.showCosts" class="story-pricing row" 
           ng-repeat="cost in story.costs.insured | orderBy:weight">
        <div class="columns small-6">{{cost.label}}</div>
        <div class="columns small-6">${{cost.amount}}{{cost.suffix}}</div>
      </div>
      <div class="next-button">
        <a ng-click="goToPage(key)" class="button rounded">
          <i class="fa fa-chevron-down"></i><span class="invisible">Next Page</span>
        </a>
      </div>
    </div>
  </div>
</div>