
.story-text {
  padding-top: 1.5rem;

  & + .story-pricing {
    &:before {
      content: '';
      padding-top: 1.5rem;
      margin: 1.5rem $column-gutter/2 0;
      border-top: 1px solid $body-font-color;
      display: block;
    }
  }
}

.hint {
  margin-top: rem-calc(30);
}

// Result page
// -------------------------------------------

.result-text {
  margin-bottom: rem-calc(40);
}

.table-wrap {
  background: #ffffff;
  margin-bottom: rem-calc(50);
}

.header {
  padding-bottom: rem-calc(25);
  padding-top: rem-calc(25);
  margin-bottom: rem-calc(25);

  .compare-section-insured & {
    background: $silver;
  }

  .compare-section-uninsured & {
    background: $red-dark;
    color: #ffffff;
  }
}

.cost-row {
  padding-bottom: rem-calc(10);
}

.total {
  padding-top: rem-calc(35);
  padding-bottom: rem-calc(25);

  .compare-section-uninsured & {
    color: $red-dark;
  }
}

.result-hint {
  clear: both;
  margin-bottom: rem-calc(30);
}



// *
// * Media Queries
// *
// ******************************************************


@media #{$medium-up} {
  .premium-wrap {
    padding-bottom: rem-calc(185px)!important;
    position: relative;
  }

  .compare-section-insured {
    padding-left: rem-calc(40);
  }

  .compare-section-uninsured {
    padding-right: rem-calc(40);
  }
}


@media #{$large-up} {
  .compare-section-insured {
    padding-left: rem-calc(100);
  }

  .compare-section-uninsured {
    padding-right: rem-calc(100);
  }
}
