
@mixin circle-grad($color) {
  @include background(radial-gradient(50% 50%, rgba($color, .1) 0%, rgba($color, .6) 50%, rgba($color, .9) 100%));
}

// progress dots
.status-dots {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 rem-calc(10) rem-calc(10);
    border-radius: 100%;
    border: 2px solid $iron;
    background: $smoke;
    height: rem-calc(15);
    width: rem-calc(15);
    text-indent: -900px;
    overflow: hidden;

    &.current {
      background: $iron;
    }

    &.active {
      border-color: $body-font-color;
      background: $body-font-color;
      cursor: pointer;
    }
  }
}


.tier-details {
  margin-top: rem-calc(30);

  .row {
    &:before {
      content: "";
      border-top: $iron rem-calc(1px) solid;
      margin: rem-calc(15) $column-gutter/2 0;
      padding-top: rem-calc(15);
      display: block;

      &:first-child {
        border-top: 0;
        margin-top: 0;
      }
    }
  }

  .columns:last-child {
    text-align: right;
    vertical-align: middle;
  }
}

$tier-dimension: 40px;

.tier {
  padding-left: $tier-dimension + 20px;
  position: relative;

  &:before {
    content: "";
    border-radius: 100%;
    position: absolute;
    left: 0;
    width: $tier-dimension;
    height: $tier-dimension;
    top: 50%;
    margin-top: -($tier-dimension/2);
  }
}

.tier-bronze {
  &:before {
    @include circle-grad($bronze);
  }
}

.tier-silver {
  &:before {
    @include circle-grad($body-font-color);
  }
}

.tier-gold {
  &:before {
    @include circle-grad($gold);
  }
}

// Plans
.plan-title-graphic {
  
  &, & ~ .columns {
    margin-bottom: rem-calc(50);
  }

  & > * {
    padding: rem-calc(30);
  }
}

.plan-title {
  background: $silver;
}

.plan-graphic {
  background: #fff; 
}

.plan-details .medium-3 {
  margin-bottom: rem-calc(20);
}


// *
// * Media Queries
// *
// ******************************************************

@media #{$small-only} {
  .plan-title {
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

@media #{$medium-up} {
  // progress dots
  .status-dots {
    li {
      margin-bottom: 0;
    }
  }

  $tier-dimension: 80px;

  .tier {
    padding-left: $tier-dimension + 20px;
    margin-bottom: rem-calc(30);

    &:before {
      width: $tier-dimension;
      height: $tier-dimension;
      margin-top: -($tier-dimension/2);
    }
  }
}