
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}

// Remove padding from columns
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.clear-both {
  clear: both;
}

// COlumns with big image
.columns.image {
  text-align: center;
}


// Big header for questions
.choice-header {
  padding-bottom: rem-calc(32px);
  padding-top: rem-calc(32px);
  text-align: center;
  z-index: 10;
  background: $smoke;
  position: relative;

  & > *{
    max-width: $row-width;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  h2 {
    margin-bottom: rem-calc(15);

    &:only-child {
      margin-bottom: 0;
    }
  }
}

.triangle-bottom {

  // Make triangle graphic
  &:after {
    content: '';
    position: absolute;
    bottom: rem-calc(-59);
    z-index: 11;
    left: 50%;
    margin-left: rem-calc(-30);
    @include css-triangle(rem-calc(30), $smoke, top)
  }
}

// Full page links 
.full-link {
  padding: rem-calc(80px) $column-gutter;
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;

  &, &:hover {
    color: $white;
  }
}

// *
// * Media Queries
// *
// ******************************************************

@media #{$small-only} {
  .small-margin-bottom {
    margin-bottom: rem-calc(50);
  }

}

@media #{$medium-up} {

  // Make 100% height
  .full-height {
    position: absolute;
    top: 0;
    bottom: 0;
    //height: 100%;
  }

  // Make 100% height + 100% width
  .full-all {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    //height: 100%;
  }

  .full-link {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    height: 100%;

    span { 
      @include vertical-align();
    }
  }

  // Vertical Triples (not currently used)
  .full-all-three {
    position: absolute;
    //height: 100%;
    width: 100%;
    left: 0;
    overflow-y: auto;
    
    .full-all {
      top: 0;
      bottom: 0;
      //height: 100%;
      position: relative;

      & + .full-all {
        top: (100%*2);

        & + .full-all {
          top: (100%*3);
        }
      }
    }

  }

  // big headerq
  .choice-header {
    min-height: $choice-header-height;
  }

  // 100% height with big header
  .header-top {
    height: auto;
    top: $choice-header-height;
  }

  // smaller padding
  .small-pad {
    padding-top: rem-calc(55);

    .choice-header {
      padding-top: 0;
    }
  }

  // Big padding
  .big-pad {
    padding-top: rem-calc(40px);
  }

  // Big padding
  .big-pad-right {
    padding-right: rem-calc(40px)
  }

  // Make 3 (or 2) in a row full height
  .full-height {

    &.columns {
      left: (100%/3);

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: auto;
        right: 0;
      }
    }
  }
}

@media #{$short-only} {
  // big headerq
  .choice-header {
    min-height: $short-choice-header-height;
    padding-bottom: rem-calc(25px);
    padding-top: rem-calc(25px);
  }

  // 100% height with big header
  .header-top {
    top: $short-choice-header-height;
  }
}


@media #{$large-up} {
  // Big padding
  .big-pad-right {
    padding-right: rem-calc(100px)
  }
}