
.button {
  box-shadow: 0 4px 3px rgba($silver, .7);

  &.secondary {
    box-shadow: none;
    &, &:hover {
      color: $orange;
    }
  }

  &, &:hover {
    color: $orange;
  }

  i {
    margin-right: 0.5em;
  }
}


.next-button {
  //padding-top: rem-calc(40);
  overflow: hidden;
  clear: both;

  .next-button-inner {
    width: $next-button-width*2 + 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    border: 1px solid $orange;
    background: rgba(#ffffff, 0);
    padding: 0;
    line-height: $next-button-width;
    text-align: center;
    display: block;
    float: left;

    &:hover {
      background: rgba(#ffffff, .70);
    }

    &.next-button-primary {
      background: rgba($orange, .8);
      color: $white;

      &:hover {
        background: rgba($orange, 1);
      }
    }

    &.button-left {
      margin-right: 20px;
    }
  }

  .button, i {
    height: $next-button-width;
    width: $next-button-width;
  }
}

a.link-term {
  color: $orange !important;

  i {
    font-size: 16px;
  }
}

a.button.use-previous-header {
  padding: 0;
  position: absolute;
  left: 1rem;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: -5px;
}

// *
// * Media Queries
// *
// ******************************************************


@media #{$medium-up} {

  .next-button {

    &:not(.relative) {
      position: absolute;
      bottom: rem-calc(20);
      left: 50%;
      margin-left: -($next-button-width);
    }
  }
}