
.button {
  box-shadow: 0 4px 3px rgba($silver, .7);

  &.secondary {
    box-shadow: none;
    &, &:hover {
      color: $orange;
    }
  }

  &, &:hover {
    color: $orange;
  }

  i {
    margin-right: 0.5em;
  }
}


.next-button {
  padding-top: rem-calc(40);
  overflow: hidden;
  clear: both;

  .button {
    border: 1px solid $orange;
    background: rgba(#ffffff, 0);
    padding: 0;
    line-height: $next-button-width;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:hover {
      background: rgba(#ffffff, .70);
    }
  }

  .button, i {
    height: $next-button-width;
    width: $next-button-width;
  }
}

// *
// * Media Queries
// *
// ******************************************************


@media #{$medium-up} {

  .next-button {

    &:not(.relative) {
      position: absolute;
      bottom: rem-calc(20);
      left: 50%;
      margin-left: -($next-button-width);
    }
  }
}