

.tabs {
  margin-top: rem-calc(20);

  dd {
    float: none;
    display: inline-block;

    a {
      font-weight: $font-weight-semi-bold;
      border: rem-calc(2px) solid $silver;
      padding-top: $tabs-navigation-padding - rem-calc(2px);
      padding-bottom: $tabs-navigation-padding - rem-calc(2px);
    }
  }
}


// *
// * Media Queries
// *
// ******************************************************

@media #{$small-only} {
  .tabs dd {
    width: 33%;

    & > a {
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
  }
}