
.footer {
  background: $smoke;
  padding-top: rem-calc(30);
  
  a {
    color: $steel;

    &:hover {
      color: darken($steel, 14%);
    }
  }
}

// *
// * Media Queries
// *
// ******************************************************


@media #{$medium-up} {

  .footer {
    //clear: both;
    //position: relative;
    height: $footer-height;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

}