
.l-header {
  height: $small-header-height;
  padding-bottom: rem-calc(35);
}

.header-toggle, .get-insurance {
  position: absolute;
  top: rem-calc(80);
}

.header-toggle {
  left: $column-gutter/2;
}

.get-insurance {
  right: $column-gutter/2;
}

.site-name {
  max-width: rem-calc(161);
  margin-left: rem-calc(-80);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: rem-calc(10);
  height: rem-calc(46);
  overflow: hidden;
  margin-top: rem-calc(18px);

  img {
    display: block;
    margin-bottom: 10px
  }
}



// *
// * Media Queries
// *
// ******************************************************

@media #{$medium-up} {
  
  .l-header {
    height: $header-height; 
    padding-bottom: 0;
  }

  .header-toggle, .get-insurance {
    top: rem-calc(28);
  }
}