
.main {
  //background: $smoke;

  & > [ui-view]{
    padding-top: rem-calc(40px);

    & > *:last-child {
      padding-bottom: rem-calc(40px);

      &.header-top {
        padding-bottom: 0!important;
      }

    }  
  } 
}

@media #{$medium-up} {
  .main {
    & > [ui-view] {
      padding-top: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}