<div class="full-all white-background page-section">
  <div class="choice-header">
    <h2>Get Insurance</h2>
  </div>
  <div class="columns medium-9 medium-centered large-7">
    <h3>You will need:</h3>
    <ol>
      <li>Social security numbers and birth dates of household members in need of health insurance</li>
      <li> Employer and income information for every household member</li>
      <li> Policy numbers for any current health insurance plans covering members of your household</li>
      <li>Names of your preferred health care providers/doctors</li>
    </ol>
    <p>&nbsp;</p>
    <div class="row">
      <div class="columns medium-6">
        <h4>If you live in Colorado, go to:</h4>
        <p><a href="http://connectforhealthco.com/" target="_blank"><img alt="Connect for Health Colorado" ng-src="images/connectforhealth.png" /></a></p>
      </div>
      <div class="columns medium-6">
        <h4>If you live in another state, go to:</h4>
        <p><a href="https://www.healthcare.gov/" target="_blank"><img alt="Healthcare.gov" ng-src="images/healthcaregov.jpg" /></a></p>
      </div>
    </div>
  </div>
</div>

