<div class="row">
  <div class="columns medium-6 medium-push-3">
    <h3>Get Insurance</h3>
      <p>You will need:</p>
      <ol>
        <li>Social security numbers and birth dates of household members in need of health insurance</li>
        <li> Employer and income information for every household member</li>
        <li> Policy numbers for any current health insurance plans covering members of your household</li>
        <li>Names of your preferred health care providers/doctors</li>
      </ol>

      <div class="row">
        <div class="columns medium-6">
          <h4>If you live in Colorado, go to:</h4>
          <p><a href="http://connectforhealthco.com/" target="_blank">Connect for Health Colorado</a></p>
        </div>
        <div class="columns medium-6">
          <h4>If you live in another state, go to:</h4>
          <p><a href="https://www.healthcare.gov/" target="_blank">Healthcare.gov</a></p>
        </div>
      </div>
  </div>
</div>