<div class="full-all white-background page-section">
  <div class="choice-header">
    <h2>¡El seguro médico puede ser confuso y SeguroTU está aquí para ayudarle!</h2>
  </div>
  <div class="columns medium-11 medium-centered large-7">
    <p>
    SeguroTU es un sitio web educacional para ayudarle entender los básicos sobre cómo funciona el seguro médico. Este sitio provee palabras importantes en contexto de escenarios básicos, información sobre el valor del seguro médico, y cómo empezar a elegir y comprar un plan.
    </p><p>
    Por favor, entienda que los costos usados en SeguroTU son simplemente ejemplos educacionales. Estos costos vienen de planes de seguro médico verdaderos, sin embargo, los costos que usted experimentará pueden variar bastante según su plan de seguro, su edad, dónde vive, y dónde recibe la atención médica.
    </p><p>
    Para más información sobre quienes somos y por qué creamos SeguroTU, visite <a href="#" ui-sref="about">Acerca de</a>.
    </p>
    <div class="row text-center">
      <a href="#" ui-sref="go" class="button alert">¡A comenzar!</a>
    </div>
    
  </div>
</div>



