<div class="full-all white-background page-section">
  <div class="choice-header">
    <h2>Recursos</h2>
  </div>
  <div class="columns medium-11 medium-centered large-7">
    <p>Aquí encontrará una variedad de recursos adicionales que pueden ayudarlo a comprender y usar su seguro médico.</p>
 
    <h4>Versión descargable de este sitio web:</h4>
    <ul>
      <li><a href="http://cohealth.co/CoveredUinfograph" target="_blank">Español y Inglés</a></li>
    </ul>
     
    <h4>Recursos generales</h4>
    <ol>    
      <li>Una guía para obtener mejor atención y estar más saludable: comprensión de su plan de seguro médico y de cómo usarlo</li>
      <ul>
        <li><a href="https://marketplace.cms.gov/outreach-and-education/downloads/c2c-put-your-health-first.pdf" target="_blank">Inglés</a></li>
        <li><a href="https://marketplace.cms.gov/technical-assistance-resources/c2c-roadmap-booklet-spanish.pdf" target="_blank">Español</a></li>
      </ul>
      <li><a href="https://www.getcoveredamerica.org/locator/" target="_blank">¡Encuentre ayuda gratis cerca de usted para inscribirse!</a></li> 
      <li><a href="http://familiesusa.org/sites/default/files/documents/spanish/CareYouNeed_SP_final_web.pdf" target="_blank">Cómo elegir el mejor plan médico para usted</a></li>
      <li><a href="http://familiesusa.org/sites/default/files/documents/spanish/UsingHealthInsurance_SP_final_web.pdf" target="_blank">Cómo usar su seguro médico</a></li>
      <li><a href="http://familiesusa.org/sites/default/files/documents/spanish/WhatToDoAfter_SP_final_web.pdf" target="_blank">Qué hacer después de comprar un seguro en el Mercado de Seguros Médicos</a></li>
      <li><a href="http://kff.org/health-reform/video/los-youtoons-se-preparan-para-obamacare/" target="_blank">Los YouToons se preparan para Obamacare</a></li>
      <li><a href="http://kff.org/interactive/calculadora-de-subsidios/" target="_blank">Vea si califica para los costos reducidos</a></li>
    </ol>


    <h4>Recursos de Colorado</h4>
    <ol>
      <li><a href="http://es.blueguide.cohealthinitiative.org/" target="_blank">Colorado Blue Guide: Encuentre un profesional de salud y ayuda gratis cerca de usted para inscribirse</a></li>
      <li><a href="http://www.cohealthinitiative.org/sites/cohealthinitiative.org/files/attachments/CCHI%20Immigrant%20Health%20Insurance%202014.-Spanish.pdf" target="_blank">Seguro médico accessible para familias inmigrantes</a></li>
      <li><a href="http://cdn.colorado.gov/cs/Satellite/DORA-DI/CBON/DORA/1251631140623" target="_blank">Colorado Division of Insurance: Solicitar asistencia o presentar un reclamo</a></li>
      <li><a href="http://www.cohealthinfo.com/" target="_blank">COHealthInfo.com</a></li>
    </ol>

  </div>
</div>