<div class="full-all white-background page-section">
  <div class="choice-header">
    <h2>Resources</h2>
  </div>
  <div class="columns medium-11 medium-centered large-7">
    <p>Here you will find a variety of additional resources that can help you understand and use your health insurance.</p>
 
    <h4>Downloadable graphics from this website:</h4>
    <ul>
      <li>@todo</li>
    </ul>
     
    <h4>General Resources</h4>
    <ol>    
      <li>A Roadmap to Better Care and a Healthier You: Understand your health insurance plan and how to use it </li>
      <ul>
        <li><a href="https://marketplace.cms.gov/outreach-and-education/downloads/c2c-put-your-health-first.pdf" target="_blank">English</a></li>
        <li><a href="https://marketplace.cms.gov/technical-assistance-resources/c2c-roadmap-booklet-spanish.pdf" target="_blank">Spanish</a></li>
      </ul>
      <li><a href="https://www.getcoveredamerica.org/locator/" target="_blank">Find FREE in-person help to enroll in health insurance near you!</a></li> 
      <li><a href="https://www.getcoveredamerica.org/plans/" target="_blank">Find the right type of plan for you and your family: Interactive tool</li>
      <li><a href="http://101.communitycatalyst.org/basics" target="_blank">Health Insurance 101</a></li>
      <li><a href="https://www.youtube.com/watch?v=wDd9BBWQ3Qo" target="_blank">Health Insurance 101 (video)</a></li>
      <li><a href="http://familiesusa.org/sites/default/files/product_documents/Consumer_HealthInsuranceBasics_FACTSHEET_UsingHealthInsurance.pdf" target="_blank">How to use your health insurance</a></li>
      <li><a href="http://familiesusa.org/sites/default/files/product_documents/GettingHelp_final_rev103014_web.pdf" target="_blank">Factsheet: Getting Financial Assistance to Pay for Health Insurance</a></li>
    </ol>


    <h4>Colorado Resources</h4>
    <ol>
      <li><a href="http://blueguide.cohealthinitiative.org/" target="_blank">Colorado Blue Guide: Find health care providers and enrollment assistance near you.</a></li>
      <li><a href="http://cdn.colorado.gov/cs/Satellite/DORA-DI/CBON/DORA/1251631140623" target="_blank">Colorado Division of Insurance: Request Assistance or File a Complaint</a></li>
      <li><a href="http://www.cohealthinfo.com/" target="_blank">COHealthInfo.com</a></li>
    </ol>

  </div>
</div>