<div class="row">
  <div class="columns medium-6 medium-push-3">
  
    <h3>Resources</h3>
    <p>Here you will find a variety of additional resources that can help you understand and use your health insurance.</p>
 
    <h4>Downloadable graphics from this website:</h4>
    <ul>
      <li>@todo</li>
    </ul>
     
    <h4>General Resources</h4>
    <ul>    
      <li>A Roadmap to Better Care and a Healthier You: Understand your health insurance plan and how to use it </li>
      <ul>
        <li>English</li>
        <li>Spanish</li>
      </ul>
      <li>Find the right type of plan for you and your family: Interactive tool</li>
      <li>Health Insurance 101</li>
      <li>Health Insurance 101 (video)</li>
      <li>How to use your health insurance.</li>
      <li>Factsheet: Getting Financial Assistance to Pay for Health Insurance</li>
    </ul>


    <h4>Colorado Resources</h4>
    <ul>
      <li>Colorado Blue Guide: Find health care providers and enrollment assistance near you. </li>
      <li>Colorado Division of Insurance: Request Assistance or File a Complaint</li>
      <li>COHealthInfo.com</li>
    </ul>

  </div>
</div>