<div class="tier-details">
  <div class="row">
    <div class="columns small-6 medium-8">Cuota:</div>
    <div class="columns small-6 medium-4">{{stats.premium}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Deducible:</div>
    <div class="columns small-6 medium-4">{{stats.deductible}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Desembolso máximo máximo:</div>
    <div class="columns small-6 medium-4">{{stats.outOfPocket}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Visita de atención preventiva:</div>
    <div class="columns small-6 medium-4">{{stats.preventiveCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Copago de atención médica primaria:</div>
    <div class="columns small-6 medium-4">{{stats.primaryCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Copago de atención de especialidad:</div>
    <div class="columns small-6 medium-4">{{stats.specialtyCare}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Copago/Coaseguro para sala de emergencia:</div>
    <div class="columns small-6 medium-4">{{stats.copay}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Coaseguro de la estadía en el hospital:</div>
    <div class="columns small-6 medium-4">{{stats.hospital}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Medicamentos genéricos en comparación con medicamentos de marca:</div>
    <div class="columns small-6 medium-4">{{stats.genericDrugs}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Coaseguro de medicamentos de especialidades:</div>
    <div class="columns small-6 medium-4">{{stats.specialtyDrugs}}</div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-8">Coaseguro de laboratorio/radiografías/diagnóstico por imágenes:</div>
    <div class="columns small-6 medium-4">{{stats.xray}}</div>
  </div>
</div>
<div class="row">
  <p>{{note}}</p>
</div>


