<div class="row plan-details">
  <div class="columns medium-3 premiums">
    <h3>Premiums</h3>
    <p>{{plan.premiums}}</p>
  </div>
  <div class="columns medium-3 primary-care">
    <h3>Primary Care Providers</h3>
    <p>{{plan.primaryCare}}</p>
  </div>
  <div class="columns medium-3 specialty">
    <h3>Specialty Providers</h3>
    <p>{{plan.specialty}}</p>
  </div>
  <div class="columns medium-3 out-of-network">
    <h3>Out-of-Network</h3>
    <p>{{plan.outOfNetwork}}</p>
  </div>
</div>

<div class="row text-center">
  <a href="#" ng-click="" class="button alert">Get Shopping!</a>
</div>