
<div class="row premium-wrap">
  <div class="columns medium-6 big-pad image small-margin-bottom">
    <img ng-if="override" ng-src="../images/icons/{{resultsImg}}" />
    <img ng-if="!override" ng-src="../images/icons/{{story.img}}" />
  </div>
  <div ng-if="override" class="columns medium-6 big-pad big-pad-right">
    <p>{{resultsText}}</p>
    <p>&nbsp;</p>
    <div class="text-center">
      <a href="#" ui-sref="use" class="button radius">Start Over</a>
    </div>
  </div>
  <div ng-if="!override" class="columns medium-6 big-pad big-pad-right">
    <p class="story-text" bind-compiled-html="story.text | termsFilter"></p>
    <div ng-if="story.showCosts" class="story-pricing row" 
         ng-repeat="cost in story.costs.insured | orderBy:weight">
      <div class="columns small-6">{{cost.label}}:</div>
      <div class="columns small-6">${{cost.amount}}{{cost.suffix}}</div>
    </div>
    <p ng-if="showCompareDoctor && story.costs.insured && story.costs.insured.length"
       class="hint">

      <a open-reveal="compareModal">If you’d gone to your Primary Care Provider?</a></p>
    </p>
    <div ng-if="story.hint" class="hint" 
         ng-repeat="hint in story.hint">
         
      <p bind-compiled-html="hint | termsFilter"></p>
    </div>
  </div>
  <div ng-if="!override"
       class="next-button" 
       ng-init="location = goToPage(key);">

    <a href="#" ui-sref="{{location}}" class="button round">
      <i class="fa fa-chevron-down"></i><span class="invisible">Next Page</span>
    </a>
  </div>
</div>


<div ng-if="showCompareDoctor" id="compareModal" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <p class="story-text columns">{{compareStory.text}}</p>
  <div ng-if="story.showCosts" class="story-pricing row clear-both" 
       ng-repeat="compCost in compareStory.costs.insured | orderBy:weight">
    <div class="columns small-6">{{compCost.label}}:</div>
    <div class="columns small-6">${{compCost.amount}}{{compCost.suffix}}</div>
  </div>
  <div ng-if="compareStory.hint" class="hint" 
       ng-repeat="compHint in compareStory.hint">
       
    <p>{{compHint}}</p>
  </div>
</div>
