
<div class="choice-header triangle-bottom columns">
  <a href="#" ng-click="previous($event)" class="button round use-previous-header" title="Previous Page">
    <i class="fa fa-chevron-left"></i><span class="invisible">Back</span>
  </a>
  <h2 ng-bind="pageData[currentPage].title"></h2>
</div>
<div class="full-all header-top clearfix">
  <div ng-repeat="(key, option) in pageData[currentPage].options" 
       ng-init="nextLink = nextPageVal(key)"
       class="scenario-pattern-{{key}} medium-4 columns reds no-padding full-height">

    <a class="full-all full-link h3" href="#" ui-sref="{{nextLink}}"><span>{{option.title}}</span></a>
  </div>
</div>