
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}

// Remove padding from columns
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

// COlumns with big image
.columns.image {
  text-align: center;
}


// Big header for questions
.choice-header {
  padding-bottom: rem-calc(38px);
  padding-top: rem-calc(38px);
  text-align: center;
}

// Make triangle graphic
.header-top {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    left: 50%;
    margin-left: rem-calc(-30);
    @include css-triangle(rem-calc(30), $smoke, top)

  }
}

// Full page links 
.full-link {

  &, &:hover {
    color: $white;
  }

  span {
    @extend %vertical-align;
    text-align: center;
    padding-left: $column-gutter;
    padding-right: $column-gutter;
  }
}


// *
// * Media Queries
// *
// ******************************************************


@media #{$medium-up} {

  // Make 100% height
  .full-height {
    position: absolute;
    top: 0;
    bottom: 0;
    //height: 100%;
  }

  // Make 100% height + 100% width
  .full-all {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Vertical Triples (not currently used)
  .full-all-three {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    overflow-y: auto;
    
    .full-all {
      top: 0;
      height: 100%;
      position: relative;

      & + .full-all {
        top: (100%*2);

        & + .full-all {
          top: (100%*3);
        }
      }
    }

  }

  // big header
  .choice-header {
    height: $choice-header-height;
  }

  // 100% height with big header
  .header-top {
    height: auto;
    top: $choice-header-height;
  }

  // Big padding
  .big-pad {
    padding-top: rem-calc(115px)
  }


  // Big padding
  .big-pad-right {
    padding-right: rem-calc(40px)
  }

  // Make 3 (or 2) in a row full height
  .full-height {

    &.columns {
      left: (100%/3);

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: auto;
        right: 0;
      }
    }
  }
}


@media #{$large-up} {
  // Big padding
  .big-pad-right {
    padding-right: rem-calc(100px)
  }
}